.flex.h-screen.p-6.px-10
      // left
      .pt-32(class='w-1/2')
        .w-full.text-gray-200.space-y-4
          h1.font-semibold.text-green-500.tracking-wide(class='md:text-6xl 2xl:text-7xl') Welcome to the CRS
          p.text-2xl The Civil Status Registry from Registring Birth and Marriage Certificates
          p.text-xl.font-light
            | Created by 
            span.text-green-500 Azamah Junior
            |  , 
            span.italic BSC Computer Science
        .flex.mt-16.items-center.ml-40
          button.px-6.py-3.bg-green-500.rounded-xl.text-lg.text-green-200.font-semibold.shadow-lg(class='hover:text-green-100 hover:bg-green-600')
            | Get Started
      // right
      .flex(class='w-1/2')
        img.w-full.items-center(src='images/undraw_version_control_re_mg66.svg' alt='coding')