doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles/tailwind.css')
  title=title
  link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap' rel='stylesheet')
  // Favicon
  link(rel='icon' href='images/Favicon.png' type='image/png')
.flex.h-screen.bg-gray-800
  .flex.flex-col.flex-1.w-full
    // Header ===========================
    header.z-40.py-4.bg-gray-800.shadow-lg
      .flex.items-center.justify-between.h-8.px-6.mx-auto
        .relative.flex.items-center.mt-.mr-4.space-x-6
          .flex.text-white.flex-shrink-0
            a.flex.p-2(href='/')
              .flex.py-3.px-2.items-center
                p.text-2xl.text-green-500.font-semibold.border-r-2.pr-1.mr-1 CRS
                p
                  | CIVIL REGISTRY
          //
            Search Input ============================================================
            ========
          .relative.flex.w-full.flex-wrap.items-stretch.mb-3.items-center.pt-2.invisible(class='sm:visible')
            input.form-input.px-3.py-2.placeholder-gray-400.text-gray-700.relative.bg-white.rounded-lg.text-sm.shadow.outline-none.w-full.pr-10(type='search' placeholder='Search'  class='focus:outline-none focus:ring-2 focus:ring-green-500')
            span.z-10.h-full.leading-snug.font-normal.text-center.text-gray-400.absolute.bg-transparent.rounded.text-base.items-center.justify-center.w-8.right-0.pr-3.py-3
              svg.h-5.w-5.-mt-1(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z')
        if user
          ul.flex.items-center.flex-shrink-0.space-x-10
            // Notifications menu
            // On login
            li.relative
                .p-2.text-white.align-middle.w-20.items-center.text-sm.pr-16(class='hover:text-green-400'  aria-label='Account' aria-haspopup='true')
                  .font-semibold
                    a(href='/dashboard') DASHBOARD 
            li.relative
              div.align-middle( @click='toggleNotificationsMenu' @keydown.escape='closeNotificationsMenu' aria-label='Notifications' aria-haspopup='true')
                .flex.items-cemter
                  img.h-12.w-12.rounded-full.object-cover.border-4.border-green-400(src='../images/profile.jpeg' class='transition duration-500 ease-in-out hover:border-transparent')
                // Notification badge
                span.absolute.top-0.right-0.inline-block.w-3.h-3.transform.translate-x-1.-translate-y-1.bg-red-600.border-2.border-white.rounded-full(aria-hidden='true' class='dark:border-gray-800')
              template(x-if='isNotificationsMenuOpen')
                ul.absolute.right-0.w-56.p-2.mt-2.space-y-2.text-gray-600.bg-green-400.border.border-green-500.rounded-md.shadow-md(x-transition:leave='transition ease-in duration-150' x-transition:leave-start='opacity-100' x-transition:leave-end='opacity-0' @click.away='closeNotificationsMenu' @keydown.escape='closeNotificationsMenu')
                  li.flex
                    a.text-white.inline-flex.items-center.justify-between.w-full.px-2.py-1.text-sm.font-semibold.transition-colors.duration-150.rounded-md(class='hover:bg-gray-100 hover:text-gray-800' href='#')
                      span Messages
                      span.inline-flex.items-center.justify-center.px-2.py-1.text-xs.font-bold.leading-none.text-red-600.bg-red-100.rounded-full(class='dark:text-red-100 dark:bg-red-600')
                        | 13
            // Profile menu
            
            li#btnOut.relative
              button#logOutBtn.text-sm.font-semibold.p-2.bg-green-600.text-white.align-middle.rounded-xl.w-20.items-center(class='transition duration-500 ease-in-out hover:text-white hover:bg-green-500 focus:outline-none'   aria-label='Account' aria-haspopup='true') Log Out
                 
                  
        else 
          ul.flex.items-center.flex-shrink-0.space-x-10
            li.relative
              button.p-2.bg-green-500.text-white.align-middle.rounded-xl.w-20.items-center(class='hover:text-white hover:bg-green-600 focus:outline-none' @click='toggleProfileMenu' @keydown.escape='closeProfileMenu' aria-label='Account' aria-haspopup='true')
                .font-semibold
                  a(href='/login') Login
          


    // HERO -------------------------------------------
    block content
      include _hero
script(src="js/login.js")
